{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
          {% for cafe in cafes: %}
            {% if cafes.index(cafe) == 0 %}
                  <thead>
                    <tr>
                        <th scope="col">{{ cafe[0] }}</th>
                        <th scope="col">{{ cafe[2] }}</th>
                        <th scope="col">{{ cafe[2] }}</th>
                        <th scope="col">{{ cafe[3] }}</th>
                        <th scope="col">{{ cafe[4] }}</th>
                        <th scope="col">{{ cafe[5] }}</th>
                        <th scope="col">{{ cafe[6] }}</th>
                    </tr>
                  </thead>
            {% else %}
                <tbody>
                    <tr>
                        <td scope="col">{{ cafe[0] }}</td>
                        <td scope="col"><a href="{{ cafe[1] }}"></a>Maps Link </td>
                        <td scope="col">{{ cafe[2] }}</td>
                        <td scope="col">{{ cafe[3] }}</td>
                        <td scope="col">{{ cafe[4] }}</td>
                        <td scope="col">{{ cafe[5] }}</td>
                        <td scope="col">{{ cafe[6] }}</td>
                    </tr>
                  </tbody>
          {% endif %}
          {% endfor %}
  	  </table>
      <p><a href="#">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
